In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

At this point, I already imported the libraries that I will use. What I want to do, is to put in practice al the things I've learned the last months and upload it on Github with all the changes, commits and so. This will be my first commit

I'm trying to create a new markdown cell from the code in github

In [3]:
df = pd.read_csv('/Users/daniboy/Desktop/Platzi_Courses/Git_Github/github_p1/Students data.csv')
df.head()

,ID,class,gender,race,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis,from1,from2,from3,from4,y
0,1141,A,male,1,73.47,64,81,87,60,74,71,60,A,A,A,3,0
1,1142,A,female,1,71.22,57,50,51,51,55,62,61,B,A,A,2,0
2,1143,A,female,2,74.56,47,48,71,60,61,68,64,C,A,A,0,1
3,1144,A,female,1,72.89,46,72,38,60,29,54,51,D,A,A,0,0
4,1145,A,female,1,70.11,49,45,63,60,66,66,61,E,A,A,0,0